[submodule "lvgl"]
	path = lvgl
	url = https://github.com/strijar/lvgl.git
	branch = release/v8.3
[submodule "third-party/aether_radio/x6100_control"]
	url = https://github.com/AetherRadio/X6100Control
	path = third-party/aether_radio/x6100_control
